VITE_SITE_URL=https://kannabikes.com
VITE_WORDPRESS_API_BASE_URL=https://kannabikes.com/wp-json/kanna/v1
VITE_GOOGLE_AUTH_URL=https://kannabikes.com/wp-json/kanna-auth/v1/google/start
VITE_GA_MEASUREMENT_ID=G-XXXXXXXXXX

KANNA_FRONTEND_BASE_URL=https://kannabikes.com
KANNA_AUTH_ALLOWED_FRONTEND_ORIGINS=https://kannabikes.com,https://www.kannabikes.com
KANNA_GOOGLE_CLIENT_ID=...
KANNA_GOOGLE_CLIENT_SECRET=...
KANNA_STRIPE_SECRET_KEY=sk_live_...
KANNA_STRIPE_WEBHOOK_SECRET=whsec_...
